<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Edit Order</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="content">

        <h1>Edit Order</h1>

        <form th:action="@{/confirmOrder}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <table>
                <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderedProduct, iterStat : ${orderedProducts}">
                    <input type="hidden" th:name="'orderedProducts[' + ${iterStat.index} + '].product.productId'"
                           th:value="${orderedProduct.product.productId}"/>
                    <input type="hidden" th:name="'orderedProducts[' + ${iterStat.index} + '].product.productCode'"
                           th:value="${orderedProduct.product.productCode}"/>
                    <input type="hidden" th:name="'orderedProducts[' + ${iterStat.index} + '].product.name'"
                           th:value="${orderedProduct.product.name}"/>
                    <td th:text="${orderedProduct.product.productCode}"></td>
                    <td th:text="${orderedProduct.product.name}"></td>
<!--                    <td><input  type="number" th:name="'orderedProducts[' + ${iterStat.index} + '].amount'"-->
<!--                               th:value="${orderedProduct.amount}"/></td>-->
                </tr>
                </tbody>
            </table>
            <button type="submit">Confirm Order</button>
        </form>
    </div>
    <footer th:replace="~{fragments/fragments :: bottom}"></footer>
</div>
</body>
</html>
