<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Edit Selected Products</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header th:replace="~{fragments/fragments :: top}"></header>
        <div class="container mt-4">
            <h2>Review and Edit Selected Products</h2>

            <form action="/confirmOrder" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderedProduct, iterStat : ${orderedProducts}">
                        <td th:text="${orderedProduct.productCode}"></td>
                        <td th:text="${orderedProduct.name}"></td>


                        <td>
                            <input type="hidden" name="selectedProducts" th:value="${orderedProduct.orderedProductId}">
                            <input type="number" name="quantities" th:value="${orderedProduct.amount}"
                                   min="1"
                                   class="form-control"
                            />
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between mt-4">
                    <a href="/" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-primary">Confirm Order</button>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="~{fragments/fragments :: bottom}"></footer>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>