<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Control Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        a {
            color:black;
            text-decoration: none;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 6px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            cursor: pointer;
        }

        .disabled {
            color: #ccc;
            pointer-events: none;
        }

        #pageNumber {
            width: 50px;
        }

        .pagination-container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .page-form {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/fragments :: top}"></header>
<h1>List of orders</h1>

<label for="sortOptions">Sort by:</label>
<select id="sortOptions" onchange="refresh()">
    <option value="orderId" th:selected="${order == 'orderId'}">ID</option>
    <option value="deptId" th:selected="${order == 'deptId: ASC'}">Department</option>
    <option value="deptId_desc" th:selected="${order == 'deptId: DESC'}">Department DESC</option>
    <option value="totalPrice" th:selected="${order == 'totalPrice: ASC'}">Total Price</option>
    <option value="totalPrice_desc" th:selected="${order == 'totalPrice: DESC'}">Total Price DESC</option>
</select>

<label for="resultsPerPage">Results per page:</label>
<select id="resultsPerPage" onchange="refresh()">
    <option value="10" th:selected="${pageSize == 10}">10</option>
    <option value="25" th:selected="${pageSize == 25}">25</option>
    <option value="50" th:selected="${pageSize == 50}">50</option>
    <option value="100" th:selected="${pageSize == 100}">100</option>
</select>

<form id="ordersForm" action="/approveOrders" method="POST">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <table id="ordersTable">
        <thead>
        <tr>
            <th>Select</th>
            <th>Order ID</th>
            <th>Department</th>
            <th>Total Price</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td><input type="checkbox" name="selectedOrders" th:value="${order.orderId}"/></td>
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.deptId.getName()}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Approve Order</button>
</form>

<div class="pagination-container">
    <button id="firstPageButton" onclick="refresh()">First Page</button>
    <button id="prevPage" onclick="prevPage()">Previous</button>
    <form class="page-form" style="margin-inline: 40px" onsubmit="moveToPage(); return false;">
        <label for="pageNumber">Page#</label>
        <input type="number" step="1" min="1" max="${totalPages}" id="pageNumber" th:value="${pageNumber}"/>
        <button type="button" style="margin-left: 10px" onclick="moveToPage()">Move</button>
    </form>
    <button id="nextPage" onclick="nextPage()">Next</button>
    <button id="lastPageButton" onclick="lastPage()">Last Page</button>
</div>

<script>
    const pageNumber = [[${pageNumber}]];
    const totalPages = [[${totalPages}]];

    document.getElementById('prevPage').classList.toggle('disabled', pageNumber === 1);
    document.getElementById('firstPageButton').classList.toggle('disabled', pageNumber === 1);
    document.getElementById('lastPageButton').classList.toggle('disabled', pageNumber === totalPages);
    document.getElementById('nextPage').classList.toggle('disabled', pageNumber === totalPages);

    function prevPage() {
        const pageSize = document.getElementById('resultsPerPage').value;
        const order = document.getElementById('sortOptions').value;

        window.location.href = `/?page=${pageNumber - 1}&page_size=` + pageSize + `&order=${order}`;
    }

    function nextPage() {
        const pageSize = document.getElementById('resultsPerPage').value;
        const order = document.getElementById('sortOptions').value;

        window.location.href = `/?page=${pageNumber + 1}&page_size=` + pageSize + `&order=${order}`;
    }

    function refresh() {
        const pageSize = document.getElementById('resultsPerPage').value;
        const order = document.getElementById('sortOptions').value;

        window.location.href = `/?page=1&page_size=` + pageSize + `&order=` + order;
    }

    function lastPage() {
        const pageSize = document.getElementById('resultsPerPage').value;
        const order = document.getElementById('sortOptions').value;

        window.location.href = `/?page=` + totalPages + `&page_size=` + pageSize + `&order=` + order;
    }

    function moveToPage() {
        const pageSize = document.getElementById('resultsPerPage').value;
        const order = document.getElementById('sortOptions').value;
        const moveToPageNumber = document.getElementById('pageNumber').value;

        window.location.href = `/?page=` + moveToPageNumber + `&page_size=` + pageSize + `&order=${order}`;
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("updatePriceList").addEventListener("click", function () {
            fetch('/api/products/import', {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update price list');
                    }
                    return response.text();
                })
                .then(data => {
                    alert('Price list updated successfully!');
                })
                .catch(error => {
                    alert('Error updating price list: ' + error.message);
                });
        });
    });

</script>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>