<header th:fragment="top" class="d-flex justify-content-between align-items-center p-4 bg-light border-bottom">
    <h1 class="h4 text-center flex-grow-1">Hello, <span class="fw-bold" th:text="${user.name}"></span></h1>
    <form id="logoutForm" action="/logout" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</header>

<footer th:fragment="bottom" class="d-flex justify-content-between align-items-center p-3 bg-dark text-white">
    <span class="mb-2">&copy; 2025 AlViOl GmbH</span>
    <a href="/about" class="text-white text-decoration-none">About us</a>
</footer>
