<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel='stylesheet' href='/css/about2.css'>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="content">
        <section class="section hero"></section>
        <section class="section gradient-purple">
            <div class="col-container">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front"
                             style="background-image: url(/images/Image999.png)">
                            <div class="inner-front">
                                <p>Helder Pereira</p>
                                <span>A teacher and someone else</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner-back">
                                <p>Skilled at teaching, good sense of humor and not boring at all</p>
                                <button id="shiftButton">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="modal">
                    <div class="modal-content">
                        <p>Job titles
                            <br>
                            Team Lead · Vice President of Software Engineering · Director · Chief Technology Officer
                            <br>
                            Location types
                            <br>
                            On-site · Hybrid
                            <br>
                            Locations (on-site)
                            <br>
                            Stadt Hamburg, Hamburg, Germany · Berlin, Berlin, Germany · Porto, Porto, Portugal
                            <br>
                            Start date
                            <br>
                            Immediately, I am actively applying
                            <br>
                            Employment types
                            <br>
                            Full-time · Part-time · Contract</p>
                    </div>
                    <button class="close-modal">Close</button>
                </div>
            </div>
        </section>
        <section class="section gradient-blue"></section>
        <section class="section gradient-red"></section>
    </div>
    <div class="image-container">
        <img src="https://assets-global.website-files.com/63ec206c5542613e2e5aa784/643312a6bc4ac122fc4e3afa_main%20home.webp"
             alt="image">
    </div>
</div>

<script src="/js/file1.js"></script>
<script src="/js/file2.js"></script>
<script src="/js/file3.js"></script>
<script src="/js/teem.js"></script>



</body>
</html>
