<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel='stylesheet' href='/css/about2.css'>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/aboutVit.css">
    <link rel="stylesheet" href="/css/aboutAlex.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="content">
        <section class="section hero"></section>
        <section class="section gradient-purple">
            <div class="col-container">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front"
                             style="background-image: url(/images/oleh.jpg)">
                            <div class="inner-front">
                                <p style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:40.0pt"> Oleh Bryl</p>
                                <span style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:20.0pt">Java Developer</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner-back">
                                <p>One of the authors and creators of this project</p>
                                <button id="shiftButton">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="modal">
                    <div class="modal-content">
                        <p style="font-size:16.0pt">
                            Highly motivated Java Developer with a passion for creating efficient and
                            secure applications. Strong understanding of core Java concepts such as object-
                            oriented programming, inheritance, polymorphism, encapsulation, and exception
                            handling. Familiarity with commonly used Java APIs for collections, concurrency, I/O,
                            networking, and other core functionalities. Knowledge of popular Java frameworks
                            and libraries such as Spring Framework, Hibernate, JavaServer Faces (JSF),
                            depending on specific project requirements. Experience with database technologies
                            such as SQL (Structured Query Language) and JDBC (Java Database Connectivity), as
                            well as familiarity with ORM (Object-Relational Mapping) tools like Hibernate.
                                                       <br>
                            <span style="font-weight:bold;">GitHub:</span>  <a href="https://github.com/BADRobin" style="color: blue">https://github.com/BADRobin</a>
                        <br>
                        <article class="columns-2">
                        <p style="font-size:16.0pt">
                            <span style="font-weight:bold;">Programming Languages: </span>
                            <br>
                            <span style="font-weight:bold;"> Frameworks & Libraries: </span>
                            <br>
                            <span style="font-weight:bold;">Database Technologies: </span>
                            <br>
                            <span style="font-weight:bold;">Web Technologies:    </span>
                        </p>
                        <p style="font-size:16.0pt">
                            Java (Core, SE, EE), JSP, JavaFX
                            <br>
                            Spring Boot, Hibernate, Maven, JavaServer Faces (JSF)
                            <br>
                            MySQL, JDBC, ORM (Hibernate), SQL, PostgreSQL
                            <br>
                            Servlets, JSON, RESTful APIs
                        </p>

                        </article>
                        <br>
                        <span style="font-weight:bold; font-size:18.0pt">Soft Skills    </span>
                        <br>
                        <p style="font-size:16.0pt">Communication, Teamwork,
                        Organization, Time Management,
                        Work ethic and motivation,  Adaptability
                        </p>
                    </div>
                    <button class="close-modal">Close</button>
                </div>
            </div>
        </section>
        <section class="section gradient-blue">
            <div class="col-container2">
                <div class="col2" ontouchstart="this.classList.toggle('hover');">
                    <div class="container2">
                        <div class="front2"
                             style="background-image: url(/images/vitalii.jpg)">
                            <div class="inner-front2">
                                <p style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:36.0pt"> Vitalii Shekhovtsov</p>
                                <span style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:20.0pt">Java Developer</span>
                            </div>
                        </div>
                        <div class="back2">
                            <div class="inner-back2">
                                <p>One of the authors and creators of this project</p>
                                <button id="shiftButton2">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal2" id="modal2">
                    <div class="modal-content2">
                        <p style="font-size:16.0pt">
                            A Ukrainian IT specialist with over 10 years of experience in technical support and hardware maintenance.
                            After relocating to Germany due to the 2022 conflict, I learned German and shifted my focus to software
                            development, completing a year-long Java course. I’m eager to apply my technical and problem-solving
                            skills in software development. My journey reflects adaptability, resilience, and a passion for
                            continuous learning, and I look forward to contributing to your development team.
                            <br>
                            <span style="font-weight:bold;">GitHub:</span>  <a href="https://github.com/mtx1k" style="color: blue">https://github.com/mtx1k</a>
                            <br>
                        <article class="columns-2">
                            <p style="font-size:16.0pt">
                                <span style="font-weight:bold;">Programming Languages: </span>
                                <br>
                                <span style="font-weight:bold;"> Frameworks & Libraries: </span>
                                <br>
                                <span style="font-weight:bold;">Database Technologies: </span>
                                <br>
                                <span style="font-weight:bold;">Web Technologies:    </span>
                            </p>
                            <p style="font-size:16.0pt">
                                Java (Core, SE, EE), JSP, JavaFX
                                <br>
                                Spring Boot, Hibernate, Maven, JavaServer Faces (JSF)
                                <br>
                                MySQL, JDBC, ORM (Hibernate), SQL, PostgreSQL
                                <br>
                                Servlets, JSON, RESTful APIs
                            </p>

                        </article>
                        <br>
                        <span style="font-weight:bold; font-size:18.0pt">Soft Skills    </span>
                        <br>
                        <p style="font-size:16.0pt">Communication, Teamwork,
                            Organization, Time Management,
                            Work ethic and motivation,  Adaptability
                        </p>
                    </div>
                    <button class="close-modal2">Close</button>
                </div>
            </div>
        </section>
        <section class="section gradient-red">
            <div class="col-container3">
                <div class="col3" ontouchstart="this.classList.toggle('hover');">
                    <div class="container3">
                        <div class="front3"
                             style="background-image: url(/images/alex.jpg)">
                            <div class="inner-front3">
                                <p style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:30.0pt">Oleksandr Ovcharenko</p>
                                <span style="font-weight:bold; -webkit-text-stroke: 1px black; font-size:20.0pt">Java Developer</span>
                            </div>
                        </div>
                        <div class="back3">
                            <div class="inner-back3">
                                <p>One of the authors and creators of this project</p>
                                <button id="shiftButton3">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal3" id="modal3">
                    <div class="modal-content3">
                        <p style="font-size:16.0pt">
                            Motivated and dedicated aspiring software developer focusing on Java programming. Currently
                            studying programming, I have developed strong problem-solving abilities and a passion for continuous
                            learning. I thrive in self-directed environments, with a proven ability to quickly adapt to new
                            technologies and methodologies. My goal is to contribute to innovative projects, while continuously
                            improving my skills and growing as a professional in the IT field.
                            <br>
                            <span style="font-weight:bold;">GitHub:</span>  <a href="https://github.com/Alex-DCI" style="color: blue">https://github.com/Alex-DCI</a>
                            <br>
                        <article class="columns-2">
                            <p style="font-size:16.0pt">
                                <span style="font-weight:bold;">Programming Languages: </span>
                                <br>
                                <span style="font-weight:bold;"> Frameworks & Libraries: </span>
                                <br>
                                <span style="font-weight:bold;">Database Technologies: </span>
                                <br>
                                <span style="font-weight:bold;">Web Technologies:    </span>
                            </p>
                            <p style="font-size:16.0pt">
                                Java (Core, SE, EE), JSP, JavaFX
                                <br>
                                Spring Boot, Hibernate, Maven, JavaServer Faces (JSF)
                                <br>
                                MySQL, JDBC, ORM (Hibernate), SQL, PostgreSQL
                                <br>
                                Servlets, JSON, RESTful APIs
                            </p>

                        </article>
                        <br>
                        <span style="font-weight:bold; font-size:18.0pt">Soft Skills    </span>
                        <br>
                        <p style="font-size:16.0pt">Communication, Teamwork,
                            Organization, Time Management,
                            Work ethic and motivation,  Adaptability
                        </p>
                    </div>
                    <button class="close-modal3">Close</button>
                </div>
            </div>
        </section>
    </div>
    <div class="image-container">
        <img src="https://assets-global.website-files.com/63ec206c5542613e2e5aa784/643312a6bc4ac122fc4e3afa_main%20home.webp"
             alt="image">
    </div>
</div>

<script src="/js/file1.js"></script>
<script src="/js/file2.js"></script>
<script src="/js/file3.js"></script>
<script src="/js/teem.js"></script>
<script src="/js/teem2.js"></script>


</body>
</html>
