<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="logo-left">
        <img src="/images/logo.png" alt="Left Logo">
    </div>
    <div class="start">
        <form action="/login" method="post">
            <h1>AlViOl</h1>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <div class="input-group">
                <input type="text" id="login" name="username"  class="input"  required/>
                <label for="login" class="label">Login</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" class="input" required/>
                <label for="password" class="label">Password</label>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember-me" value="true"
                               id="form2Example31" checked/>
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <a href="#">Forgot password?</a>
                </div>
            </div>

            <button type="submit">Sign in</button>

            <div class="text-center">
                <p>Don't have an account yet? Contact your head of department</p>
            </div>
        </form>
    </div>
    <div class="logo-right">
        <img src="/images/logo.png" alt="Logo Right">
    </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/main.js"></script>
</body>
</html>